<!DOCTYPE html>
{% load static %}


<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Регистрация</title>

    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>

<div class="auth-container">

    <h1>Регистрация</h1>

    <form method="POST" class="auth-form">
        {% csrf_token %}

        <input
            type="text"
            name="username"
            placeholder="Введите логин"
        >

        <input
            type="password"
            name="password"
            placeholder="Введите пароль"
        >

        <input
            type="number"
            name="age"
            placeholder="Введите возраст"
        >

        <input
            type="text"
            name="description"
            placeholder="Введите описание"
        >

        <button type="submit">
            Зарегистрироваться
        </button>
    </form>

    <a href="{% url 'login' %}" class="auth-link">
        Уже есть аккаунт? Войти
    </a>

</div>

</body>
</html>
```
